.registration-wrapper {
    display: flex;
    flex-direction: column;
    
}

.registration-main {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 40px;
    width: 350px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.registration-form input{
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.registration-form button {
    padding: 18px;
    color: azure;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #854542;
}

.registration-form button:hover {
    background-color: #6d2c29;
}